
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Campeonatos</title>
</head>
<body>
    <div>
        <h1>Campeonatos</h1>
      
      

      
        <table border="1">
            <tr>
                <td><strong>Temporada</strong></td>
                <td><strong>Campeon</strong></td>
                <td><strong>SubCampeon</strong></td>
            </tr>

            <tr>
                <td>1952 </td>
                <td>Águilas Cibaeñas</td>
                <td>Tigres del Licey</td>
            </tr>

            <tr>
                <td> 1964-65 </td>
                <td>Águilas Cibaeñas</td>
                <td>Leones del Escogido</td>
            </tr>

            <tr>
                <td> 1966-67 </td>
                <td>Águilas Cibaeñas</td>
                <td>Leones del Escogido</td>
            </tr>

            <tr>
                <td> 1971-72 </td>
                <td>Águilas Cibaeñas</td>
                <td>Tigres del Licey</td>
            </tr>

            <tr>
                <td> 1974-75 </td>
                <td>Águilas Cibaeñas</td>
                <td>Estrallas Orientales</td>
            </tr>
        </table>
    </div>
</body>
</html>
