
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Fundadores</title>
</head>
<body>
    <div> 
        <h1>Fundadores de las Aguilas Cibae;as</h1>
        <p>
         W.E. Brown Benjamín Sánchez G <br />   
            Luis Meses Ariza <br /> 
            Rafael V. Meyreles <br />   
            Esteban Piola <br />    
            Luis Pérez <br />   
            Demetrio Mojica
        </p>
    </div>
</body>
</html>
