
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
    <div> 
        <h1>Las Aguilas Cibaeñas</h1>
        <p>
            Las Águilas Cibaeñas equipo de béisbol con sede en Santiago, República Dominicana, posee una gran trayectoria como equipo representativo de la región del cibao.
            El equipo actualmete tiene 21 títulos nacionales y 5 Series del Caribe.

            La trayectoria de las Águilas Cibaeñas como equipo representativo de la región del Cibao, la más fértil zona del país, está ligada al desarrollo del béisbol en el valle del Cibao.
            En efecto, aunque el béisbol se conocía en el país desde finales del siglo XIX, y aunque equipos que todavía compiten en nuestras justas beisboleras fueron fundados a principios
            de siglo, la acuñación del nombre Águilas Cibaeñas es de la década del 1930.

            El equipo representativo de la región en el campeonato de 1936, aunque denominado Santiago B.B.C., llevaba en su manga el símbolo del Águila. Ante el contundente título de campeón 
            obtenido en 1936 por las Estrellas Orientales, los capitaleños propusieron realizar el Campeonato Nacional de 1937 entre un equipo de Santiago, otro de San Pedro de Macorís 
            (los campeones del año anterior) y un tercero por la capital, los Dragones de Ciudad Trujillo (unión de Escogido y Licey).
        </p>
    </div>
</body>
</html>
